<div class="container-config d-flex flex-column align-items-center">
    <div class="container bg-white p-3 shadow" style="border-radius: 10px;">
        <header class="text-center fs-2 fw-normal">
            <p>Danh sách nhân viên</p>
        </header>
        <div class="d-flex justify-content-between align-items-center " >
            <!-- tìm kiếm -->
            <section class="d-flex align-items-center col-6 position-relative">
                <input type="text" placeholder="Tìm kiếm theo họ tên, email, số điện thoại" class="w-75 input-search">
                <svg class="bi bi-search position-absolute icon-search" 
                    xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" viewBox="0 0 16 16">
                    <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001q.044.06.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1 1 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0"/>
                </svg>
            </section>
            <!-- add function -->
            <section class="d-flex justify-content-end align-items-center col-6" style="gap: 1rem; ">
                <button type="button" class="btn btn-success" style="font-size: 14px; background-color: #139F4B; box-shadow: 0px 4px 6px #C4E8D1;">
                    <p class="m-0">+ THÊM EXCEL</p>
                </button>
                <button type="button" class="btn btn-primary" style="font-size: 14px; background-color: #3B71CB; box-shadow: 0px 4px 6px #B0C7EB;">
                    <p class="m-0">+ TẢI FILE MẪU</p>
                </button>   
                <button type="button" class="btn btn-primary" style="font-size: 14px; background-color: #3B71CB; box-shadow: 0px 4px 6px #B0C7EB;">
                    <p class="m-0">+ THÊM NHÂN VIÊN</p>
                </button>
            </section>
        </div>
        <!-- trạng thái -->
        <div class="my-4">
            <p class="mb-1">Trạng thái</p>
            <div class="d-flex align-items-center" style="gap: 1rem;">
                <section>
                    <input type="radio" name="status" id="all" style="margin-right: 0.3rem;">
                    <label for="all">Tất cả</label>
                </section>
                <section>
                    <input type="radio" name="status" id="doing" style="margin-right: 0.3rem;">
                    <label for="doing">Đang làm</label>
                </section>
                <section>
                    <input type="radio" name="status" id="retired" style="margin-right: 0.3rem;">
                    <label for="retired">Đã nghỉ</label>
                </section>
            </div>
        </div>
        <div>
            <table class="table table-striped table-bordered">
                <thead>
                    <tr class="text-center">
                        <th scope="col">#</th>
                        <th scope="col">Tên nhân viên</th>
                        <th scope="col">Email</th>
                        <th scope="col">Số điện thoại</th>
                        <th scope="col">Ngày tham gia</th>
                        <th scope="col">Trạng thái</th>
                        <th scope="col">Thao tác</th>
                    </tr>
                </thead>
                <tbody>
                    <tr class="text-center">
                        <td scope="col" class="py-3">1</td>
                        <td class="py-3">Tú</td>
                        <td class="py-3">tu12&#64;fpt.vn.com</td>
                        <td class="py-3">0123456789</td>
                        <td class="py-3">17/01/2024 02:34 PM</td>
                        <td class="d-flex justify-content-center py-3">
                            <p class="mb-0 px-1 fw-semibold" style="width: fit-content; color: #12801A; text-shadow: 0px 0px 10px #75ff7e;"
                            >Đang làm</p>
                        </td>
                        <td class="py-3">
                            <svg class="bi bi-pencil-square" style="color: #3B71CB;"
                            xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" viewBox="0 0 16 16">
                                <path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z"/>
                                <path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5z"/>
                            </svg>
                        </td>
                    </tr>
                    <tr class="text-center">
                        <td scope="col" class="py-3">1</td>
                        <td class="py-3">Tú</td>
                        <td class="py-3">tu12&#64;fpt.vn.com</td>
                        <td class="py-3">0123456789</td>
                        <td class="py-3">17/01/2024 02:34 PM</td>
                        <td class="d-flex justify-content-center py-3">
                            <p class="mb-0 px-1 fw-semibold" style="width: fit-content; color: #12801A; text-shadow: 0px 0px 10px #75ff7e;"
                            >Đang làm</p>
                        </td>
                        <td class="py-3">
                            <svg class="bi bi-pencil-square" style="color: #3B71CB;"
                            xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" viewBox="0 0 16 16">
                                <path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z"/>
                                <path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5z"/>
                            </svg>
                        </td>
                    </tr>
                    <tr class="text-center">
                        <td scope="col" class="py-3">1</td>
                        <td class="py-3">Tú</td>
                        <td class="py-3">tu12&#64;fpt.vn.com</td>
                        <td class="py-3">0123456789</td>
                        <td class="py-3">17/01/2024 02:34 PM</td>
                        <td class="d-flex justify-content-center py-3">
                            <p class="mb-0 px-1 fw-semibold" style="width: fit-content; color: #12801A; text-shadow: 0px 0px 10px #75ff7e;"
                            >Đang làm</p>
                        </td>
                        <td class="py-3">
                            <svg class="bi bi-pencil-square" style="color: #3B71CB;"
                            xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" viewBox="0 0 16 16">
                                <path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z"/>
                                <path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5z"/>
                            </svg>
                        </td>
                    </tr>
                    <tr class="text-center">
                        <td scope="col" class="py-3">1</td>
                        <td class="py-3">Tú</td>
                        <td class="py-3">tu12&#64;fpt.vn.com</td>
                        <td class="py-3">0123456789</td>
                        <td class="py-3">17/01/2024 02:34 PM</td>
                        <td class="d-flex justify-content-center py-3">
                            <p class="mb-0 px-1 fw-semibold" style="width: fit-content; color: #12801A; text-shadow: 0px 0px 10px #75ff7e;"
                            >Đang làm</p>
                        </td>
                        <td class="py-3">
                            <svg class="bi bi-pencil-square" style="color: #3B71CB;"
                            xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" viewBox="0 0 16 16">
                                <path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z"/>
                                <path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5z"/>
                            </svg>
                        </td>
                    </tr>
                </tbody>
            </table>
            <section>
                
            </section>
            <section>
                <p>Tổng số trang: 1</p>
            </section>
        </div>
    </div>
</div>